@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ยืนยันตัวตน";
    Layout = "_LayoutDefault";
}

<content>
    <div class="d-flex justify-content-center align-items-center vh-100 animate__animated animate__fadeInDown">
        <div class="card shadow p-4" style="width: 26rem;">
            <div class="card-body text-center">
                <div class="row justify-content-center mb-3">
                    <div class="col-auto w-100">
                        <img src="/image/logo-company/tbroker_header.png" class="rounded img-fluid" alt="T Broker Logo" asp-append-version="true" />
                    </div>
                </div>
                <h5 class="card-title mb-3">การยืนยันตัวตน</h5>
                <p class="text-muted">
                    กรุณากรอกเลขประจำตัวประชาชน 13 หลักของท่านเพื่อดำเนินการตรวจสอบและยืนยันตัวตนในระบบ<br>
                    ข้อมูลของท่านจะถูกเก็บรักษาอย่างปลอดภัยและไม่เปิดเผยแก่บุคคลภายนอก
                </p>

                <form id="verifyEmailForm" method="POST" asp-controller="" asp-action="" autocomplete="off">
                    @Html.AntiForgeryToken()
                    <div class="mb-3">
                        <input type="text" class="form-control text-center numberOnly" maxlength="13" pattern="\d{13}" id="verifyCardIdInput" name="verifyCardIdInput" required placeholder="กรอกเลขประจำตัวประชาชน 13 หลัก">
                    </div>
                    <input type="hidden" id="verifyCardIdHidden" name="verifyCardIdHidden" value="@ViewBag.Token" />
                    <button type="button" id="verifyCardIdButton" class="btn btn-primary w-100">ดำเนินการต่อ</button>
                </form>

                <div class="mt-3">
                    <small class="text-muted">
                        * การกรอกข้อมูลให้ถูกต้องครบถ้วน จะช่วยให้การตรวจสอบเสร็จสมบูรณ์อย่างรวดเร็ว
                    </small>
                </div>
            </div>
        </div>
    </div>
</content>

@section Scripts {
    <script type="module" src="@Url.Content("~/js/verify/email/index.js")" asp-append-version="true"></script>
}